<!--Templates-->

<!--Layout-->
<div [ngClass]="{'flex-row': isWeb || isTablet, 'flex-col': isHandset, 'max-w-max': isHandset}" class="flex bg-gray-900 rounded-lg text-white min-w-max">
    <div *ngFor="let item of itemBindings">
        <app-icon-nav-bar-item
            (iconActionOutput)="onChildItemAction($event)"
            [iconText]="item.iconText"
            [iconId]="item.iconId"
            [linkRoute]="item.linkRoute"
            [icon]="item.icon">
        </app-icon-nav-bar-item>
    </div>
</div>