<div>
  <!--SideNav Hamburger Icon (interactive)-->
  <!--SideNav Container-->
  <mat-sidenav-container cdkScrollable role="main" autosize>
    <mat-sidenav role="navigation" #sidenav mode="side" opened="true">
      <section class="bg-gray-800 h-screen py-10">
        <nav>
          <ul class="list-none p-0 m-0 h-full">
            <li class="-mt-1 bg-gray-700 text-gray-200 py-4 text-center font-sans text-xl font-semibold hover:bg-gray-900 rounded-lg rounded-l-none cursor-auto">Icon Bar Demo</li>
          </ul>
        </nav>
      </section>


    </mat-sidenav>
    <!-- right sidenav (reserved)-->
    <!-- <mat-sidenav role="region" class="mat-sidenav-end" position="end" mode="side" opened="false" #sidenavend></mat-sidenav> -->
  

    <!--main component router-->
      <div class="bg-gray-800">
        <router-outlet></router-outlet>
      </div>

  
  
  </mat-sidenav-container>
  
  </div>