/*Global card utitlity overrides*/
body .at-light .card {
    border: none !important;
    background-color: #FFF;
    box-shadow: 0 10px 25px #e8e8e8;
}

body .at-light .card-footer {
    background-color: transparent;
    border-top: 1px solid #EFEBE9;
}

body .at-light .card-header-gradient {
    background-color: #FAFAFA;
    background-image: -webkit-linear-gradient(#FFF 15%,#F5F5F5);
    background-image: linear-gradient(#FFFF 15%,#F5F5F5);
}

body .at-dark .card {
    border: 1px solid #333;
    background-color: green;
    box-shadow: 0 10px 25px #e8e8e8;
}

body .at-dark .card-footer {
    background-color: transparent;
    border-top: 1px solid #EFEBE9;
}

body .at-dark .card-header-gradient {
    background-color: #FAFAFA;
    background-image: -webkit-linear-gradient(#FAFAFA 75%,#EEEEEE);
    background-image: linear-gradient(#FAFAFA 75%,#EEEEEE);
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 10px;
}
.card-body {
    font-size: .9rem !important;
}
.card-title {
    font-weight: 100 !important;    
}
.card-footer {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    font-size: .8rem;
}
.card-header-gradient {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

/*GLOBAL Card Media Queries*/
@media only screen and (max-width: 320px) {
    /*Adjust card for handsets*/
    .card {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        border: 0;
    }
    .card-body {
        padding: .50rem;
    }
}
@media only screen and (max-width: 576px) {
    /*Adjust card for handsets*/
    .card {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0;
        margin-right: 0;
        border: 0;
    }
    .card-body {
        padding: .85rem;
    }
    .card-footer {
        text-align: center;
    }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
    /*Add a margin to bottom of all cards on small devices*/
    .card {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    /*Add a margin to bottom of all cards on small devices*/
    .card {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {

}

@media only screen and (min-width: 1200px) {

}


